extends layout
block main 
  .divLogin.row
    .col-md-10.teste
     .card
      .card-body
        h3 Entrar 
        .form-group
          label(for="user") Nome:
          input(type="text" class="form-control" id="nome" )
        .form-group
          label(for="user") Email:
          input(type="text" class="form-control" id="email" )
      
        .form-group
          label(for="senha") Senha:
          input(type="password" class="form-control" id="senha")

        .row
          button(class="btn btn-md btn-success" id="btnCadastro") Cadastrar
 
        

      
     